{% extends 'base.html' %}

{% block title %}
<title>article</title>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="editor-container" style="font-family: 华文楷体">
</div>
    <a href="{% url 'article:modify' article.id %}">修改</a>
{% endblock %}

{% block customer_js %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
var quill = new Quill('#editor-container', {
  modules: {
    toolbar: ''
  },
    readOnly: true,
  placeholder: 'Compose an epic...',
  theme: 'snow'  // or 'bubble'
});
quill.setContents({{ article.content|safe }})
</script>
{% endblock %}